
body{
  text-align: center;
  background-color: black;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

p#story {
    color: yellow;
    font-family: "OCR A Std", monospace, "Courier New";
}

button {
    position: relative;
    border: 1px solid #402575;

    width: 49%;
    height: 50%;

    background-color: black;
    color: white;

}

div.header{
    bottom: 75%;
    height: 25%;
    width: 99%;
    background: white;
}

div.story-text-box{
    position: fixed;
    border: 3px dashed #402575;

    bottom:25%;
    height: 50%;
    width:99%;

    overflow-y: auto;
    overflow-x: auto;
}

div.Buttons{
    position: fixed;
    bottom:0%;
    height: 25%;
    width:99%;
    /* border: 3px dashed #402575; */
}
