
body{
  text-align: center;
  background-color: black;
  background-image: url(background.jpg);
  background-repeat: repeat;
  background-size: cover;

}

p#story {
    color: yellow;
    font-family: "OCR A Std", monospace, "Courier New";
}

p#p-header{
  color: #cbdaf2;
  font-family: "OCR A Std", monospace, "Courier New";
  font-size: 300%;
  font-style: oblique;
  position: relative;
}

button {
    position: relative;
    border: 1px solid #402575;

    width: 49%;
    height: 50%;

    background-color: black;
    color: #cbdaf2;
    font-family: "OCR A Std", monospace, "Courier New";
}

div.header{

    bottom: 75%;
    height: 25%;
    width: 99%;
}

div.story-text-box{
    position: fixed;
  /*  border: 3px dashed #402575;*/

    bottom:25%;
    height: 50%;
    width:99%;

    overflow-y: auto;
    overflow-x: auto;
}

div.Buttons{
    position: fixed;
    bottom:0%;
    height: 25%;
    width:99%;
}
