
body{
  text-align: center;
  background-color: #7290bf;
}

p {
  padding-top: 5%;
  border: 3px dashed #402575;
  padding-bottom: 5%;
  float:left;

  width: 5%;
  overflow-y: auto;
  height: 5%;
}

button {
  border: 3px solid #402575;

}

div.Buttons{
    border: 3px solid #402575;
    position:relative;
    margin-top:16%;
}
